@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: url(/assets/bgggg.png) no-repeat center center fixed;
}

#app {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 408px;
  padding: 2rem;
  height: 550px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login h1 {
  font-family: "Parisienne", cursive;
  color: #ff8a8a;
  font-style: normal;
  font-weight: 400;
  font-size: 95px;
  line-height: 82px;
}

.login input,
.login__google {
  width: 370px;
  height: 50px;
  padding: 0.7rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  outline: none;
}

.login .form {
  display: flex;
  flex-direction: column;
}

.form .form__btn-submit {
  background: #4e4e4e;
  color: #ffffff;
}
